<h2>Bonjour</h2>,<br><br>
Une demande de réinitialisation de mot de passe a été effectuée pour le site 
<a href="{{ absolute_url(path('app_login')) }}"> hihtlight</a>. Veuillez cliquer sur le lien suivant : 
<a href="{{ token }}">Reinitialiser mot de passe de mon compte</a>